html{
    background-color: #30312C;
    font-size: 10px;
}
body {
    max-width: 500px;
    max-height: 1000px;
    border-radius: 5px;
}

.btn-wrapper {
    grid-column: span var(--column-count);
    background-color: #30312C;
    border-radius: 25px;
}

.label {
    text-align: center;
    margin: 0 0 0.5rem 0;
}

.button {
    position: relative;
    text-align: center;
}