/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

:root{
  --color-primary: #fff;
  --ion-color-primary: var(--color-primary);
  --color-light: #f4f5f8;
  --background-color: #121212;
  --ion-background-color:var(--background-color);
  --background-color-light: #E2E0E0;
  --ion-text-color:var(--color-primary);
  --text-color-dark:#989292;
  --text-color-darker:#5a5656;
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}