.LibrayControls {
    margin: 1rem;

    .top-controls {
        display: flex;
        justify-content: space-between;

        ion-icon {
            font-size: 2rem;
            cursor: pointer;
        }

        .list-style {
            --flex-gap: 0.6rem;
            display: flex;
            align-items: center;
            gap: var(--flex-gap);
            position: relative;

            .icon {
                width: 2rem;
                height:2rem;
            
              &:nth-child(2) {
                    padding:0.1rem;
                    margin-top:-0.1rem;
                }

            }

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                left: calc(50%);
                top: 10%;
                height: 80%;
                width: 1px;
                background-color: #fff;
            }
        }
    }

    .sort-controls {
        --font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        font-size: var(--font-size);

        .sort-group {
            .label {
                margin: 0 0.2rem 0 0;
            }

            .SortOrderArrows {
                svg {
                    height: var(--font-size);
                }
            }
        }
    }
}