.ButtonBubble {
    margin: 1rem;
}

.ButtonBubble,
.btn-wrapper {
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
}

.button:not(:first-child)::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top:10%;
    height: 80%;
    width: 2px;
    background-color: #fff;
}

.btn-icon{
    height: 5rem;
    width: 5rem;
}